a[href^="https"] {
    color: red;
  }


  ul + p {
    font-size: 24px;
  }


  /* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: gray;
  }
  
  h1 {
    color: black;
  }
  

  :root {
    --main-background-color: #f0f0f0;
    --header-text-color: black;
    --link-color: #007bff;
}

body {
    background-color: var(--main-background-color);
}

.header {
    color: var(--header-text-color);
}

a {
    color: var(--link-color);
 }

/* h1 */
h1:first-of-type {
  background-color: white; /* */
}
/* style.css */

/*  h1 */
h1:last-of-type {
  background-color: 
  darkblue; /*
}